@font-face {
  font-family: Constantine;
  src: url("../Constantine.ttf");
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/images/empyrea-painting.jpg);
  background-image: url(../assets/images/cover-zoom-characters.png);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.home-container img {
  margin: 40px 0px 20px 20%;
  height: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 10px #0d1217;
          box-shadow: 10px 10px 10px #0d1217;
  -webkit-animation: moveInLeft 3s ease-out;
          animation: moveInLeft 3s ease-out;
}

.home-gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: linear-gradient(45deg, rgba(46, 80, 60, 0.8), rgba(23, 51, 35, 0.8), rgba(19, 19, 19, 0.8), rgba(0, 0, 0, 0.8), rgba(144, 85, 144, 0.8), rgba(88, 25, 88, 0.8));
  background-size: 400%;
  -webkit-animation: gradientAnimation 20s infinite alternate;
          animation: gradientAnimation 20s infinite alternate;
}

.home-book-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10% 10% 0 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home-book-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 2px 20% 10px 20px;
  color: white;
  height: auto;
  -webkit-animation: moveInUp 3s ease-out;
          animation: moveInUp 3s ease-out;
}

.home-book-title link {
  text-decoration: none;
  font-size: 25px;
  color: white;
  cursor: hand;
  text-align: right;
}

.home-book-title link:hover {
  border-bottom: 3px solid #385538;
}

.home-book-title h1 {
  text-align: "left";
  font-size: 3rem;
  text-align: center;
  font-family: Constantine;
}

.home-book-title h2 {
  font-size: 1.2rem;
}

@-webkit-keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  /* 80% {
     transform: translateX(10px);
  } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  /* 80% {
     transform: translateX(10px);
  } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  /* 80% {
    transform: translateX(-10px);
 } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  /* 80% {
    transform: translateX(-10px);
 } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/*# sourceMappingURL=home.css.map */