.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.img-header {
  position:relative;
  width:100%;
  height: 300px;
  top: 0px;
  left:0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display:flex;
/*   height: 100vh; */
/*   width: 100vw; */
  width:100%;
  align-items:center;
/*  justify-content:center; */
/*  flex-direction:column; */
}
.ul-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  left:0;
  display:flex;
  justify-content:center;
  overflow:hidden;
  background-color: white;
/*   width: 100%; */
  width:80%;
}
li {
  float:left;

}
li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display:block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightblue;
}
.Book-cover {
  padding: 50px 400px 20px 0px;
  width:200px;
}
.pHome {
  padding:0px 400px 0px 400px;
}
.hHome {
  padding:0px 400px 0px 400px;
}
.social {
  width:20px;
  height:20px;
  padding:10%;
  display:block;
  
}