@import url('https://fonts.googleapis.com/css?family=Eagle+Lake&display=swap');

.App {
  text-align: center;
}

.img-header {
  position:relative;
  width:100%;
  height: 300px;
  top: 0px;
  left:0px;
}

.App-link {
  color: #61dafb;
}

.container {
  display:flex;
/*   height: 100vh; */
/*   width: 100vw; */

/*  justify-content:center; */
/*  flex-direction:column; */
}
.paragraph-container {
  display:flex;
  width: 100%;
  flex-direction:column;
  padding-bottom: 50px;
}
.ap-container {
  justify-content:center;
  display:flex;
  cursor:hand;

  /* width:100%; */
  /* justify-content:center; */
  /* padding: 10px 10% 0px 10%; */
  align-items:flex-start;
  flex-wrap:wrap;

}
.character-content {
  width: 300px;
  cursor:hand;


  /* height: 300px; */


}
a{
  cursor:hand;

}
#character-container {
  display:flex;
  flex-direction:column;
  box-shadow: 5px 10px 20px rgb(204, 203, 203);
  justify-content:space-between;
  margin: 10px;
  width: 300px;
  /* height: auto; */
  min-height:450px;
  max-height: 800px;
  transition: min-height 5s;


}
.character-container:hover {
  cursor:hand;
  /* background-color:grey; */
}
.tio {
  background-color:white;
}
.alim {
  background-color:white;

}

.hali {
  background-color:white;

}

.flex-content {
  flex-grow:1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 60px
}
.ul-nav {
  list-style-type: none;
  position:relative;
  top:0%;
  margin: 0;
  padding: 0;
  left:0;
  /* box-shadow: 5px 10px 20px rgb(204, 203, 203); */
  /* height: 50px; */
  width:100%;
  display:flex;
  justify-content:center;
  overflow:hidden;
  background-color: white;

  width:100%;
  align-items:center;
/*   width: 100%; */
}
li {
  float:left;
  padding: 0px 10px 0px 10px
}
li a {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom:3px solid transparent;
  padding: 0px 2px 0px 2px;
  font-size: 20px;
  display:block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor:hand;
}

li a:hover {
  /* background-color: lightblue; */
  border-bottom: 3px solid rgb(56, 85, 56);
  /* box-shadow: 5px 10px 10px rgb(204, 203, 203); */

}
.bottom {
  text-align:center;
  font-size:10px;
  width: 100%;
  color:white;
  height:50px;
  position:fixed;/*fixed= stays at bottom but scrolls up? relative= stays away from bottom*/
  bottom:0%;
  overflow:hidden;
  margin:auto;
  /* padding: 10px 0px 0px 0px; */
  background-color:rgb(59, 59, 59);
}/*2 below dont seem to impact it at all got from online */
.bottom-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.bottom, .push {
  height: 50px; /* .push must be the same height as .footer */
}
.social {
  width:20px;
  height:20px;
  padding:10%;
  display:block;
  cursor:hand;
  
}

.linkAP {
  text-decoration:none;
  font-size: 25px;
  cursor:hand;
  text-align:right;
}
.linkAP:hover {
  /* background-color:lightblue; */
  border-bottom: 3px solid rgb(56, 85, 56);

}

/* .book-flex {
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  width: 200px;
  
} */
.book-cover {
  padding: 50px 20% 10px 10px;
  width:200px;

}

.jason{
  padding: 0px 20% 20px 20%;
  width: 300px
}

h1 {
  padding:20px 20% 0px 20%;
  font-family: "Eagle Lake";
}
.paragraph {
  padding:2px 20% 10px 20%;
}




/* .book-banner {
  /* padding: 50px 400px 20px 0px; */
  /* width:200px;
  text-align: right;
  background-color:rgb(88, 110, 88);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
} */ 