@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');

.about-background-container{
  background-color:#f5e9d49e;
  // clip-path:polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  height:80vh;
  padding-top:50px;
  margin-top: -10vh;
  z-index: -1;
  position:relative;
}
.about-container {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:50px;
  position:relative;
  p{
    padding-left:50px;
    font-weight:700;
    font-size:1.1rem;
    font-family:'Roboto', sans-serif;
    // background-image:radial-gradient(ellipse at center, rgb(160, 148, 148),transparent )
  }
  h1{
    padding:0px;
  }
}
.about-container:before{
  content:"";
  position:absolute;
  top: -10px;
  left:-15vw;
  width:50%;
  height:85vh;
  background-image:linear-gradient(100deg, rgb(207, 120, 7), rgb(255, 145, 0));
  transform: skew(11deg);
  transform-origin:top;
}
.about-paragraph-container {
  display:flex;
  flex-direction:column;
  justify-content: center;
}
.picture-description-container{
  display:flex;
  z-index:3;
  width:60vw;
  justify-content:center;

}
.social-media-about{
  width:50px;
  padding:10px;
  z-index:3;
  &:hover{
    cursor:pointer;
    filter:hue-rotate(250);
  }
}

.social-media-container{
  display:flex;
}
.jason{
  width:300px;
}






@media(max-width:700px){
  .jason{
    width:150px;
    float:left;
  }
  .picture-description-container{
    width:100vw;
    flex-wrap:wrap;
  }
  .about-container{
    padding-top:10px;
    height:100vh;
    
    p{
      padding:0px;
      padding-left:5px;
      width:auto;
    }
  }
}