
.about-container {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:100px;
  height:80vh;

  p{
    padding-top:50px;
    padding-left:50px;
    // background-image:radial-gradient(ellipse at center, rgb(160, 148, 148),transparent )
  }
  h1{
    padding:0px;
  }
}
.picture-description-container{
  display:flex;
  width:60vw;
  justify-content:center;

}
.social-media-about{
  width:50px;
  padding:10px;
  &:hover{
    cursor:pointer;
    filter:hue-rotate(250);
  }
}

.social-media-container{
  display:flex;
}
.jason{
  width:300px;
}

@media(max-width:700px){
  .jason{
    width:150px;
    float:left;
  }
  .picture-description-container{
    width:100vw;
    flex-wrap:wrap;
  }
  .about-container{
    padding-top:10px;
    height:100vh;
    
    p{
      padding:0px;
      padding-left:5px;
      width:auto;
    }
  }
}