@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');

.about-background-container{
  background-color:#f5e9d4;
  height:85vh;
  padding-top:50px;
  margin-top: -10vh;
  position:relative;
}
.about-container {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:50px;
  position:relative;
  height:100%;
  p{
    padding-left:50px;
    font-weight:700;
    font-size:1.1rem;
    font-family:'Roboto', sans-serif;
  }
  h1{
    padding:0px;
    z-index:5;
  }
  h2{
    z-index:5;
    font-family: 'Roboto', sans-serif;
  }
  &::before{
    content:"";
    position:absolute;
    top: -50vh;
    left:-35vw;
    width: 55vw;
    height: calc(85vh + 50vh);
    background-color:#ff9100;
    transform: skew(11deg);
    transform-origin:top;
  }
}

.about-paragraph-container {
  display:flex;
  flex-direction:column;
  justify-content: center;
}
.picture-description-container{
  display:flex;
  z-index:3;
  width:900px;
  justify-content:center;

}
.social-media-about{
  width:50px;
  padding:10px;
  z-index:3;
  border-radius: 20px;
  &:hover{
    cursor:pointer;
    filter:hue-rotate(250);
  }
}

.social-media-container{
  display:flex;
  z-index: 10;
}
.jason{
  width:300px;
  height: 300px;
  border:30px solid #ff9100;
  border-radius:50%;
}


@media(min-width:1500px){
  .picture-description-container{
    width: 1000px;
    min-width:60vw;
    padding-left:200px;
  }
  .about-container:before{
    width:65vw;
  }
}
@media(max-width:1200px){
  .about-background-container{
  }
  .jason{
    width:200px;
    height:200px;
    border-width:20px;

  
  }

  .picture-description-container{
    width: 700px;
    max-width: 80vw;
    padding-left: 50px
  }
  .about-container{
    p{
      font-size:1rem;
    }
    &::before{
    width:60vw;
    left:-40vw;
  }
}
}


@media(max-width:700px){

  .picture-description-container{
    width:100vw;
    flex-wrap:wrap;
  }
  .jason{
    width: 30vw;
    height: 30vw;
    border:none;
  }
  .about-background-container{
    height: calc(85vh - 50px)
  }

  .about-container{
    
    p{
      padding-right:20px;
      width:auto;
    }
    &::before{
      top: -50vh;
      left: -50vw;
      width: 60vw;
    }
  }
}
@media(max-width:500px){
  .about-background-container{

  }
  .about-container{
    p{
      font-size:3vw;
    }
    h1{
      font-size:1.5rem;
    }
    h2{
      font-size:1.2rem;
    }
    &::before{
      left: -65vw;
      width: 50vw;
    }
  }
  .picture-description-container{
    padding-left:0px;
  }
  .social-media-about{
    width:10vw;
  }
  
}

@media(max-width:400px){
  .about-container:before{
    left:-85vw;
    width: 60vw;
    
  }
}

@media(max-height:500px){
  .about-background-container{
    height: 100vh;
    margin-top:-108px;
  }
  .about-container{
    
    h1{
      margin-bottom:5px;
      font-size:1.3rem;
    }
    h2{
      font-size:1.2rem;
      padding-bottom:0;
    }
    p{
      font-size:0.8rem;
      padding-left:10px;
      margin:3px 0;
    }
    &::before{
      height:110vh;
      width:30%
    }
  }
  .picture-description-container{
    flex-direction:row;
    flex-wrap:nowrap;
    padding-left:8px;
    max-width:95vw;
  }
  .jason{
    border:10px solid #ff9100;
  }
  .about-paragraph-container{
    font-size:0.8rem;

  
  }
  .social-media-about{
    width:30px;
  }
  
  
}