@font-face {font-family: Constantine; src:url('../Constantine.ttf');}

.character-container {
  display:flex;
  flex-direction:column;
  box-shadow: 20px 20px 20px #1b1414; 
  justify-content:flex-start;
  position: relative;
  // border-image: url(../assets/images/borderhali2.png) 70 repeat;
  margin: 100px 10px 0px 10px;
  width: 500px;
  padding: 25px 5px 5px 5px;
  min-height:450px;
  max-height: 1000px;
  height: 70vh;
  align-items: center;
  border: none;
  border-radius: 0px;
  h1{
    padding:5px;
    margin:0px;
    color:white;
  }

}

.inactive-style{
  width:0px;
  height:0px;
  box-shadow:none;
  transition:width 2s;

}
.character-container:hover {
  pointer-events:auto;
  cursor:pointer;

}
.tio-card-background {
  opacity:99;

  background-image: radial-gradient(#008000c7, #075d0724);
  -webkit-backdrop-filter: hue-rotate(80deg) contrast(2);
  backdrop-filter: hue-rotate(
20deg
) contrast(2);
}
.alim-card-background {
  // background-image: radial-gradient(#e817e205, #b11c9f63);
  background-image: radial-gradient(rgba(242, 247, 64, 0.27), #e8e5174d);


}
.hali-card-background {
  backdrop-filter: hue-rotate(
    5deg
    ) contrast(1);
}

.characters-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position:relative;
  display: -webkit-box;
  display: -ms-flexbox;
  transition: backdrop-filter 4s;
  display: flex;
  cursor: hand;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}
.alim-background-color{
  //pink
  // background-image: radial-gradient(rgba(232, 23, 226,0.44),rgba(171, 97, 162, 0.55));
  // backdrop-filter: hue-rotate(260deg) contrast(2);
  // -webkit-backdrop-filter: hue-rotate(260deg) contrast(2);
  // box-shadow: inset 0px -2px 25px 2px #e817d8;


  // yellow
  background-image: radial-gradient(rgba(242, 247, 64, 0.53), rgba(197, 184, 95,0.49));
  backdrop-filter: hue-rotate(
305deg
) contrast(2);
  -webkit-backdrop-filter: hue-rotate(260deg) contrast(2);
  box-shadow: inset 0px -2px 25px 2px #e8e517;
}
.tio-background-color{
  background-image: radial-gradient(rgba(0,128,0,.32941176470588235),rgba(4, 35, 4, 0.64));
  -webkit-backdrop-filter: hue-rotate(80deg) contrast(2);
  backdrop-filter: hue-rotate(80deg) contrast(2);
  box-shadow: inset 0px -2px 25px 2px #549254;
}
.hali-background-color{
  background-image: radial-gradient(#71008080,#710080a6);
  -webkit-backdrop-filter: hue-rotate(210deg) contrast(2);
  box-shadow: inset 0px -5px 25px 5px purple;
  backdrop-filter: hue-rotate( 
195deg
) contrast(2);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
left:0
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.arrow-name{
  font-family: Constantine; 
  font-size:1.2rem;

}
.character-description{
  padding:25px;
  margin:20px;
  border-width: 10px;
  border-style: solid;
  height:200px;
  overflow:hidden;

  transition: height 2s;
  // border-color: grey;
  border-image: url(../assets/images/borderhali2.png) 70 repeat;
}
.characters-main-container{
  background-image: url(../assets/images/background-shadow-left.png);
  background-attachment: fixed;
  background-size: cover;
  height:102vh;
}
.character-content {
  width: 300px;
  cursor: hand;
}

.character-description-alim{
  background-color: #f1dbdfb3
}
.character-description-tio{
  background-color: rgba(174, 197, 174, 0.63)
}
.character-description-hali{
  background-color: #f9ebf991;
}


