@font-face {font-family: Constantine; src:url('../Constantine.ttf');}

.character-container {
  display:flex;
  flex-direction:column;
  box-shadow: 20px 20px 20px #1b1414; 
  justify-content:flex-start;
  position: absolute;
  // border-image: url(../assets/images/borderhali2.png) 70 repeat;
  margin: 100px 10px 0px 10px;
  width: 560px;
  padding: 25px 5px 5px 5px;
  min-height:450px;
  max-height: 1000px;
  height: auto;
  z-index:2;
  opacity:1;
  transition: opacity 2s;
  align-items: center;
  border: none;
  border-radius: 0px;
  h1{
    padding:5px;
    margin:0px;
    color:white;
  }

}

.inactive-style{
  z-index:0;
  opacity:0;
  transition:opacity 2s;

}

.tio-card-background {
  background-image: radial-gradient(#008000c7, #075d0724);

}
.alim-card-background {
  background-image: radial-gradient(rgba(242, 247, 64, 0.27), #8c71256b);


}
.hali-card-background {
  background-color:rgba(88, 25, 88,0.57);
}

.characters-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  position:relative;
  display: -webkit-box;
  display: -ms-flexbox;
  transition: backdrop-filter 2s;
  display: flex;
  cursor: hand;
  width: 80vw;
  box-shadow: inset 0px -2px 100px 100px black;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}
.characters-fade-container{
  width:100vw;
  height:105vh;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
  background-color: black;
  z-index: 3;
  position: relative;
  padding-bottom: 5vh;
}

.alim-background-color{
  background-color:$alim-trans-yellow;
  transition:background-color 2s;
  backdrop-filter: hue-rotate(305deg) contrast(2);
  -webkit-backdrop-filter: hue-rotate(260deg) contrast(2);
}
.tio-background-color{
  -webkit-backdrop-filter: hue-rotate(80deg) contrast(2);
  backdrop-filter: hue-rotate(80deg) contrast(2);
  background-color:$tio-trans-green;
  transition:background-color 2s;
}
.hali-background-color{
  background-color:$hali-trans-purple;
  -webkit-backdrop-filter: hue-rotate(210deg) contrast(2);
  transition:background-color 2s;
  backdrop-filter: hue-rotate( 195deg) contrast(2);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
left:0
}
.next {
  right: 0;
  text-align:right;
  border-radius: 3px 0 0 3px;
}
.arrow-name{
  font-family: Constantine; 
  font-size:1.2rem;

}
.character-description{
  padding:10px;
  margin:0px 10px 10px 10px;
  border-width: 10px;
  border-style: solid;
  height:auto;
  overflow:hidden;

  transition: height 2s;
  color: white;
  font-size: 1.1rem;
  // border-color: grey;
  border-image: url(../assets/images/borderhali2.png) 70 repeat;
}
.quotation-marks{
  font-size: 3rem;
  line-height: 1rem;
  position: relative;
  top: 10px;
}
.characters-main-container{
  background-image: url(../assets/images/background-shadow-left3.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 5vh;
  height:100vh;
  width: 80vw;
  margin-top: -10px;
  margin-left:10vw
}
.character-content {
  width: 300px;

  cursor: hand;
}
.character-quote{
  font-style:italic;
  font-family:Constantine;
  text-align:center;
  font-size:1.5rem;
  width: 100%;
  text-align: center;
  display: block
}

.character-description-alim{
  background-color: #c3a921ad
}
.character-description-tio{
  background-color: rgba(46, 82, 46, 0.6)
}
.character-description-hali{
  background-color: #7d5c7d94;
}


@media(max-width:1200px){
  .characters-container{
    width: 90vw;

  }
  .characters-main-container{
    height: 90vh;
    width: 90vw;
    margin-left: 5vw;
  }


}

@media(max-width:900px){
  .characters-main-container{
    background-position: 25%;
    width: 98vw;
    margin-left: 1vw;
    
  }
  .characters-container{
    width: 98vw;
    box-shadow: inset 0px -2px 50px 50px black;
  }
  .character-container{
    width:80vw;
  }
}

@media(max-width:700px){
  .character-content{
    margin-top:50px;
    width: 200px;
    height: 200px;
    margin-top:0px;
  }
  .characters-container{
    width:100vw;
    height:95vh;
    box-shadow:inset 0px -2px 40px 30px black;
  }
  .characters-main-container{
    width:100vw;
    height:95vh;

  }
  .character-description{
    padding:15px;
    margin:10px;
    border-width:8px;
    font-size:1rem;
  }
  .character-quote{
    font-size:1.2rem;
    line-height: 1.5rem;
  }
  .quotation-marks{
    font-size:2rem;
  }
  .characters-fade-container{
    height:95vh;
    
  }
  
}
@media(max-width:500px){
  .character-container{
    width: 80vw;
    margin-top:50px;
    h1{
      font-size:1.8rem;
    }
    
  }
  .prev, .next{
    p{
      font-size:1.1rem;

    }
  }
  .character-quote{
    font-size:0.9rem;
    line-height:1rem;
  }
  .quotation-marks{
    line-height: 0.1;
  }
  .character-description{
    font-size:0.95rem;
  }
  .characters-fade-container{
    height:102vh;
    
  }
  
}
@media(max-height:500px){
.character-img-description-container{
  display:flex;
  
}
.characters-fade-container{
  height:120vh;
}
.characters-main-container{
  height:120vh;
}
.characters-container{
  height:120vh;
}
.character-container{
  width:90vw;
  margin-top:40px;
  height:120vh;
}
.image-name-container{
  margin-left:25px;
}
.character-content{
  width: 150px;
  height: 150px;
  margin-left: 30px;
}
.character-description{
  font-size: 0.8rem;
  margin-right: 65px;
  margin-left: 0px;
}
.character-quote{
  font-size:1rem;
  line-height:1rem;
}

}