.presskit-main-container{
  padding-top:80px;
  h1{
    font-weight: normal
  }
}
.presskit-about-background-container{
  height:100vh;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
  z-index: 5;
}
.presskit-about-container{
  &:before{
    height: 110vh;
    position:absolute;
    z-index:0;
  }
}
.presskit-picture-description-container{
  width: 70vw;

}


.author-content-section{
  display:flex;
  flex-direction: column;
  padding-left: 50px;
  p{
    padding:0px;
    margin:0px;
  }
  h3{
    font-family:Constantine;
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom:2px;
  }
}
.author-photo-links-container{
  display:flex;
  flex-direction: column;
}
.presskit-arborealpath-container{
  background-color: $main-color;
  color:white;
  font-family:Constantine;
  display: flex;
  height:100vh;
  position:relative;
  padding: 0px 50px;
  margin-top: -50px;
  z-index: 1;
  position: relative
}
.bookcover-links-container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  img{
    width:300px;
  }
}
.arborealpath-content-container{
  display:flex;
  flex-direction:column;
  padding:70px;
}
.arborealpath-section-container{
  display:flex;
}
.arborealpath-links-section{
  padding-left:30px;

}