$tio-trans-green:rgba(0,128,0,.32941176470588235);
$tio-gradient:rgba(0,128,0,.32941176470588235),rgba(4, 35, 4, 0.64);

$alim-gradient:rgba(242, 247, 64, 0.53), rgba(197, 184, 95,0.49);
// $alim-trans-yellow:rgba(242, 247, 64, 0.53);
$alim-trans-yellow:#f2f7405c;

$hali-gradient: #71008080,#710080a6;
$hali-trans-purple:#710080a6;