$tio-trans-green:rgba(0,128,0,.32941176470588235);
$tio-gradient:rgba(0,128,0,.32941176470588235),rgba(4, 35, 4, 0.64);

$alim-gradient:rgba(162, 151, 11,0.7), #7f620f4f;
// $alim-trans-yellow:rgba(242, 247, 64, 0.53);
$alim-trans-yellow:#73730da1;

$hali-gradient: #71008080,#710080a6;
$hali-trans-purple:#710080a6;

$main-color: rgb(46, 74, 100);

$light-main-color:rgb(127, 137, 146)