.map-Gren-City{
  top: 11%;
  left: 26%
}

.map-Hillfarm{
  top: 20.5%;
  left: 19%

}
.map-Pasture-Downs{
  top: 24.5%;
  left: 11.5%;
}
.map-Mudplains{
  top: 30%;
  left: 12.5%
}
.map-Meisha{
  top: 35%;
  left: 14.8%

}
.map-Belsa{
  top: 29.5%;
  left: 35%;

}
.map-Spirit-Arboretum{
  top:26.8%;
  left:25.8%;
}

.map-Last-Stand{
  top:23%;
  left:27%;
}

.map-Tovaloreande-Sanctuary{
  top: 18%;
  left: 33%;
}
.map-Wilton{
  top: 24.5%;
  left: 36%;
}

.map-Trade-Plains{
  top: 26.5%;
  left: 58.5%
}
.map-Oressa{
  top: 24.5%;
  left: 68.8%
}

.map-East-Peaks{
  top: 15%;
  left: 72.2%;
}
.map-Sky-Tower{
  top: 22.5%;
  left: 77.5%
}
.map-Hearth{
  top: 30.8%;
  left: 71%;
}
.map-Und-dal{
  top: 33.8%;
  left: 69.3%
}
.map-Stoneport{
  top: 34.3%;
  left: 77.3%;
}
.map-Strago{
  top: 40.7%;
  left: 70.4%
}
.map-The-Lungs{
  top: 31%;
  left: 64%
}
.map-Ahsiem{
  top: 45.3%;
  left: 16.7%;
}
.map-Iron-Swamp{
  top: 38.3%;
  left: 32.6%;
}
.map-Weeping-Pass{
  top: 43.5%;
  left: 66.2%
}
.map-Mizmiz{
  top: 65%;
  left: 22.4%
}
.map-Pinpin{
  top: 74%;
  left: 16.7%;
}
.map-Clickclick-Dunes{
  top:72.5%;
  left:24.8%;
}
.map-Thunder-Trail{
  top: 53.8%;
  left: 78.5%
}
.map-Rovilia{
  top: 42.5%;
  left: 85%
}
.map-Skull-Landing{
  top: 56%;
  left: 83%
}
.map-Phantasmal-Reef{
  top:88%;
  left:21%;
}
.map-Coveted-South{
  top: 90%;
  left:60%;
}

