
.world-main-container{
  height:110vh;
  position:relative;
  background-image: url(../assets/images/background-painting3.jpg);
  background-attachment: fixed;
  background-size: cover;
  z-index:1;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
  box-shadow: inset 5px 30px 50px 24px black;
  margin-top: -100px;
  padding-top: 100px
}
.world-main-container-gradient{
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  position:absolute;
  z-index:2;
  width: 100vw;
  height: 110vh;
  margin-top: -100px;
  padding-top: 100px;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.75), #652500);
    h1{
    color:white;
    padding:50px 0 0 0;
  }
}
.world-map-container{
  height: 80vh;
  position:relative;
}
.world-map{
  height:100%;
  box-shadow:5px 5px 10px 4px black;

}

.map-locations{

  // background-image:url(../assets/images/figleaf2.png);
  background-size:cover;
  width: 39px;
  height: 50px;
  position: absolute;
  background-image: radial-gradient(#123110, #0a801f0f, transparent);
  // background-color: rgba(78, 64, 55, 0.849);
  &:hover{
    cursor:pointer;
    transform: translate(3px, 3px);
    background-image: none;
    filter: hue-rotate(300deg) brightness(1.7);  }
  
  img{
    width:38px;
    height:30px;
  }
}

.description{
  background-color:#652500e3;
  padding:20px;
  width:450px;
  border:4px solid black;
  color:white;
  opacity:0.9;
  z-index:3;
  h2{
    font-family:Constantine;
  }
}
.map-icon{
  width:20px;
  height:20px;

}
.active-map-element{
  transform: translate(3px, 3px);
  background-image: none;
  filter: hue-rotate(300deg) brightness(1.7); 
}
@media(max-width:1000px){
  .world-map-container{
    height: 60vh;
  }
}
@media(max-width:800px){
  .world-map-container{
    height:50vh;
  }
  .world-main-container{
    height:80vh;
  }
  .world-main-container-gradient{
    height:80vh;
  }
  .map-locations{
    width:33px;
    height:30px;
    img{
      width:28px;
      height:25px;
    }
  }
}
@media(max-width:650px){
  .world-map-container{
    height:35vh;

  }
  .world-main-container{
    height:80vh;
  }
  .world-main-container-gradient{
    height:80vh;
  }
  .map-locations{
    width:28px;
    height:26px;
    img{
      width:24px;
      height:20px;
    }
  }
  .description{
    font-size:0.8rem;
    width:250px;
    h2{
      font-size: 1.2rem;
    }
  }
}
@media(max-height:500px){
  .world-main-container, .world-main-container-gradient{
    height:120vh;
    h1{
      font-size:1.3rem;
      margin-bottom:5px;
    }
  }
  .world-map-container{
    height:70vh;
  }
}