@import url("https://fonts.googleapis.com/css?family=Eagle+Lake&display=swap");
@font-face {
  font-family: Constantine;
  src: url("../Constantine.ttf");
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/images/empyrea-painting.jpg);
  background-image: url(../assets/images/cover-zoom-characters2.png);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100vw;
  background-position: 53%;
}

.home-container img {
  margin-bottom: 10px;
  height: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 10px #0d1217;
          box-shadow: 10px 10px 10px #0d1217;
  -webkit-animation: moveInLeft 3s ease-out;
          animation: moveInLeft 3s ease-out;
}

.home-gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: linear-gradient(45deg, rgba(46, 80, 60, 0.8), rgba(23, 51, 35, 0.8), rgba(19, 19, 19, 0.8), rgba(0, 0, 0, 0.8), rgba(144, 85, 144, 0.8), rgba(88, 25, 88, 0.8));
  background-size: 400%;
  -webkit-animation: gradientAnimation 20s infinite alternate;
          animation: gradientAnimation 20s infinite alternate;
}

.home-book-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10% 10% 0 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home-book-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 2px 20% 10px 20px;
  color: white;
  height: auto;
  -webkit-animation: moveInUp 3s ease-out;
          animation: moveInUp 3s ease-out;
}

.home-book-title link {
  text-decoration: none;
  font-size: 25px;
  color: white;
  cursor: hand;
  text-align: right;
}

.home-book-title link:hover {
  border-bottom: 3px solid #385538;
}

.home-book-title h1, .home-book-title h2 {
  text-align: "left";
  font-size: 3rem;
  text-shadow: 2px 3px 5px #2e4a64;
  text-align: center;
  font-family: Constantine;
}

.home-book-title h2 {
  font-size: 2rem;
}

.home-book-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-buy-now-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-buy-now-container p {
  font-size: 1.2rem;
}

.home-buy-now-container button {
  background-color: white;
  height: 70px;
  -webkit-box-shadow: 5px 5px 10px 5px #15152e;
          box-shadow: 5px 5px 10px 5px #15152e;
  margin: 10px;
  width: 180px;
}

.home-buy-now-container button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.home-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-button-container button {
  outline: none;
  border: none;
  background-color: rgba(243, 233, 233, 0.4);
  font-size: 1.2rem;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.home-button-container button:hover {
  cursor: pointer;
  background-color: rgba(243, 233, 233, 0.6);
}

@-webkit-keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  /* 80% {
     transform: translateX(10px);
  } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  /* 80% {
     transform: translateX(10px);
  } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  /* 80% {
    transform: translateX(-10px);
 } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  /* 80% {
    transform: translateX(-10px);
 } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@media (max-width: 900px) {
  .home-container img {
    height: 350px;
    margin-top: 130px;
  }
}

@media (max-width: 600px) {
  .home-container img {
    height: 250px;
    margin-top: 170px;
  }
  .home-book-title h1 {
    font-size: 2.1rem;
    padding-right: 0px;
  }
  .home-book-title {
    padding-top: 90px;
  }
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  height: 80vh;
}

.about-container p {
  padding-top: 50px;
  padding-left: 50px;
}

.about-container h1 {
  padding: 0px;
}

.picture-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media-about {
  width: 50px;
  padding: 10px;
}

.social-media-about:hover {
  cursor: pointer;
  -webkit-filter: hue-rotate(250);
          filter: hue-rotate(250);
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jason {
  width: 300px;
}

@media (max-width: 700px) {
  .jason {
    width: 150px;
    float: left;
  }
  .picture-description-container {
    width: 100vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-container {
    padding-top: 10px;
    height: 100vh;
  }
  .about-container p {
    padding: 0px;
    padding-left: 5px;
    width: auto;
  }
}

@font-face {
  font-family: Constantine;
  src: url("../Constantine.ttf");
}

.character-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 20px 20px 20px #1b1414;
          box-shadow: 20px 20px 20px #1b1414;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  margin: 100px 10px 0px 10px;
  width: 560px;
  padding: 25px 5px 5px 5px;
  min-height: 450px;
  max-height: 1000px;
  height: 75vh;
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0px;
}

.character-container h1 {
  padding: 5px;
  margin: 0px;
  color: white;
}

.inactive-style {
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.tio-card-background {
  background-image: radial-gradient(#008000c7, #075d0724);
}

.alim-card-background {
  background-image: radial-gradient(rgba(242, 247, 64, 0.27), #8c71256b);
}

.hali-card-background {
  background-color: rgba(88, 25, 88, 0.57);
}

.characters-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 95vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-transition: -webkit-backdrop-filter 2s;
  transition: -webkit-backdrop-filter 2s;
  transition: backdrop-filter 2s;
  transition: backdrop-filter 2s, -webkit-backdrop-filter 2s;
  display: flex;
  cursor: hand;
  width: 80vw;
  -webkit-box-shadow: inset 0px -2px 100px 100px black;
          box-shadow: inset 0px -2px 100px 100px black;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.characters-fade-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.alim-background-color {
  background-color: #73730da1;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  backdrop-filter: hue-rotate(305deg) contrast(2);
  -webkit-backdrop-filter: hue-rotate(260deg) contrast(2);
}

.tio-background-color {
  -webkit-backdrop-filter: hue-rotate(80deg) contrast(2);
  backdrop-filter: hue-rotate(80deg) contrast(2);
  background-color: rgba(0, 128, 0, 0.329412);
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

.hali-background-color {
  background-color: #710080a6;
  -webkit-backdrop-filter: hue-rotate(210deg) contrast(2);
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  -webkit-backdrop-filter: hue-rotate(195deg) contrast(2);
          backdrop-filter: hue-rotate(195deg) contrast(2);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.arrow-name {
  font-family: Constantine;
  font-size: 1.2rem;
}

.character-description {
  padding: 10px;
  margin: 0px 10px 10px 10px;
  border-width: 10px;
  border-style: solid;
  height: 288px;
  overflow: hidden;
  -webkit-transition: height 2s;
  transition: height 2s;
  -o-border-image: url(../assets/images/borderhali2.png) 70 repeat;
     border-image: url(../assets/images/borderhali2.png) 70 repeat;
}

.quotation-marks {
  font-size: 3rem;
  line-height: 1rem;
  position: relative;
  top: 10px;
}

.characters-main-container {
  background-image: url(../assets/images/background-shadow-left.png);
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  width: 80vw;
  margin-left: 10vw;
}

.character-content {
  width: 300px;
  cursor: hand;
}

.character-quote {
  font-style: italic;
  font-family: Constantine;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  display: block;
}

.character-description-alim {
  background-color: #f1dbdfb3;
}

.character-description-tio {
  background-color: rgba(174, 197, 174, 0.63);
}

.character-description-hali {
  background-color: #f9ebf991;
}

@media (max-width: 1200px) {
  .characters-container {
    width: 90vw;
  }
  .characters-main-container {
    height: 90vh;
    width: 90vw;
    margin-left: 5vw;
  }
}

@media (max-width: 900px) {
  .characters-main-container {
    background-position: 25%;
    width: 98vw;
    margin-left: 1vw;
  }
  .characters-container {
    width: 98vw;
    -webkit-box-shadow: inset 0px -2px 50px 50px black;
            box-shadow: inset 0px -2px 50px 50px black;
  }
}

@media (max-width: 700px) {
  .character-container {
    width: 70vw;
  }
  .character-content {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    margin-top: 0px;
  }
  .characters-container {
    width: 100vw;
    height: 95vh;
    margin-top: 20px;
    -webkit-box-shadow: inset 0px -2px 40px 30px black;
            box-shadow: inset 0px -2px 40px 30px black;
  }
  .characters-main-container {
    width: 100vw;
    height: 95vh;
  }
  .character-description {
    padding: 15px;
    margin: 10px;
    border-width: 8px;
    height: 370px;
  }
  .character-quote {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .quotation-marks {
    font-size: 2rem;
  }
  .characters-fade-container {
    height: 95vh;
  }
}

@media (max-width: 500px) {
  .character-container {
    width: 80vw;
    height: 80vh;
  }
  .character-quote {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  .quotation-marks {
    line-height: 0.1;
  }
  .character-description {
    font-size: 0.8rem;
  }
}

.footer {
  text-align: center;
  font-size: 10px;
  width: 100%;
  color: white;
  height: 50px;
  position: relative;
  /*fixed= stays at bottom but scrolls up? relative= stays away from bottom*/
  bottom: 0%;
  overflow: hidden;
  margin: auto;
  background-color: #243749;
}

.transition-main-container {
  height: 20vh;
  background-color: black;
  -webkit-box-shadow: inset 5px 3px 10px 3px black;
          box-shadow: inset 5px 3px 10px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transition-main-container h1 {
  color: white;
  padding: 0;
  margin: 0;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 60px;
  top: 0;
  z-index: 1;
}

.navbar-container ul {
  list-style-type: none;
  position: relative;
  top: 0%;
  margin: 0;
  padding: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: #2e4a64;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navbar-container li {
  float: left;
  padding: 0px 10px 0px 10px;
}

.navbar-container li a {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 4px solid transparent;
  padding: 0px 2px 0px 2px;
  font-size: 18px;
  display: block;
  border-bottom: 0;
  -webkit-transition: border-color 1s;
  transition: border-color 1s;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: hand;
}

.navbar-container li a:hover {
  border-bottom: 4px solid white;
  color: #6490a0;
  cursor: pointer;
}

.header-title {
  padding: 0px;
  margin: 0px;
  font-family: 'Constantine';
  font-size: 20px;
}

.header-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-title-container img {
  width: 200px;
}

.social {
  width: 20px;
  height: 20px;
  padding-top: 45px;
  display: block;
  cursor: hand;
}

.social img {
  width: 100%;
}

.world-main-container {
  height: 100vh;
  position: relative;
  background-image: url(../assets/images/background-painting.jpg);
  background-attachment: fixed;
  background-size: cover;
  -webkit-box-shadow: inset 5px 30px 50px 24px black;
          box-shadow: inset 5px 30px 50px 24px black;
}

.world-main-container-gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.75), #652500);
}

.world-main-container-gradient h1 {
  color: white;
  padding: 50px 0 0 0;
}

.world-map-container {
  height: 70vh;
  position: relative;
}

.world-map {
  height: 100%;
  -webkit-box-shadow: 5px 5px 10px 4px black;
          box-shadow: 5px 5px 10px 4px black;
}

.map-locations {
  width: 38px;
  height: 30px;
  position: absolute;
  background-image: url(../assets/images/figleaf.png);
  background-size: cover;
}

.map-locations:hover {
  cursor: pointer;
  -webkit-filter: hue-rotate(60deg);
          filter: hue-rotate(60deg);
}

.map-Gren-City {
  top: 13%;
  left: 31%;
  background-image: url(../assets/images/spiral.png);
  width: 30px;
  height: 25px;
}

.map-Wilton {
  top: 24%;
  left: 41%;
}

.map-Hillfarm {
  top: 20%;
  left: 24%;
}

.map-Meisha {
  top: 38%;
  left: 20%;
}

.map-Ahsiem {
  top: 43%;
  left: 22%;
}

.map-Mizmiz {
  top: 63%;
  left: 27.5%;
}

.map-Pinpin {
  top: 72%;
  left: 21.9%;
}

.map-Belsa {
  top: 30%;
  left: 37%;
}

.map-Tovaloreande-Sanctuary {
  left: 37.5%;
  top: 15%;
}

.map-Pasture-Downs {
  top: 24%;
  left: 17%;
}

.map-Mudplains {
  top: 33%;
  left: 17%;
}

.map-Last-Stand {
  left: 28%;
  top: 24%;
}

.map-Trade-Plains {
  top: 23%;
  left: 65%;
}

.map-Oressa {
  top: 25%;
  left: 70%;
}

.map-East-Peaks {
  left: 73%;
  top: 16%;
}

.map-Sky-Tower {
  top: 26%;
  left: 81%;
}

.map-Hearth {
  top: 29%;
  left: 75%;
}

.map-Und-dal {
  top: 35%;
  left: 70%;
}

.map-Stoneport {
  top: 38%;
  left: 81.5%;
}

.map-Strago {
  top: 44%;
  left: 74%;
}

.map-The-Lungs {
  top: 35%;
  left: 67%;
}

.map-Weeping-Pass {
  top: 44%;
  left: 69%;
}

.map-Clickclick-Dunes {
  top: 70%;
  left: 30%;
}

.map-Thunder-Trail {
  top: 56%;
  left: 82%;
}

.map-Rovilia {
  top: 45%;
  left: 88%;
}

.map-Skull-Landing {
  top: 59%;
  left: 87%;
}

.map-Phantasmal-Reef {
  top: 70%;
  left: 50%;
}

.map-Coveted-South {
  left: 80%;
  top: 90%;
}

.map-Iron-Swamp {
  left: 38%;
  top: 42%;
}

.map-East-Peaks {
  left: 75%;
  top: 20%;
}

.map-Spirit-Arboretum {
  top: 28%;
  left: 35%;
}

.description {
  background-color: #652500e3;
  padding: 20px;
  width: 300px;
  border: 4px solid black;
  color: white;
  opacity: 0.9;
  position: absolute;
}

.map-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 1000px) {
  .world-map-container {
    height: 60vh;
  }
}

@media (max-width: 800px) {
  .world-map-container {
    height: 50vh;
  }
  .world-main-container {
    height: 80vh;
  }
  .world-main-container-gradient {
    height: 80vh;
  }
}

@media (max-width: 650px) {
  .world-map-container {
    height: 35vh;
  }
  .world-main-container {
    height: 70vh;
  }
  .world-main-container-gradient {
    height: 70vh;
  }
}

/* @import url('/assets/fonts/Constantine.tff'); */
@font-face {
  font-family: Constantine;
  src: url("../Constantine.ttf");
}

.App {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.img-header {
  position: relative;
  width: 100%;
  height: 300px;
  top: 0px;
  left: 0px;
}

.App-link {
  color: #61dafb;
}

.ap-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: hand;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-div {
  height: 100vh;
}

a {
  cursor: hand;
}

.arcane-moose {
  width: 100px;
  height: 100px;
}

.flex-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 60px;
}

.auther-pic {
  padding: 0px 20% 20px 20%;
  width: 300px;
}

h1 {
  padding: 10px 20% 0px 20px;
  text-align: center;
  font-family: Constantine;
}

h2 {
  text-align: center;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
}

.header-title-container:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */