@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Eagle+Lake&display=swap");
@font-face {
  font-family: Constantine;
  src: url("../Constantine.ttf");
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/images/cover-zoom-characters3.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 110vh;
  position: relative;
  width: 100vw;
  background-position: 73%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
}

.home-gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110vh;
  width: 100vw;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
  background-image: linear-gradient(75deg, rgba(55, 26, 69, 0.8), rgba(77, 51, 73, 0.8), rgba(42, 76, 56, 0.8), rgba(62, 105, 80, 0.8), rgba(144, 85, 144, 0.8), rgba(88, 25, 88, 0.8));
  background-size: 400%;
  -webkit-animation: gradientAnimation ease-in-out 10s infinite alternate;
          animation: gradientAnimation ease-in-out 10s infinite alternate;
}

.home-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10% 10% 0 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home-description-retailer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  width: 700px;
  padding-left: 90px;
  color: white;
  height: auto;
  -webkit-animation: moveInUp 3s ease-out;
          animation: moveInUp 3s ease-out;
  -webkit-animation: moveInUp 2s ease-in;
          animation: moveInUp 2s ease-in;
}

.home-description-retailer-container p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-description-retailer-container link {
  text-decoration: none;
  font-size: 25px;
  color: white;
  cursor: hand;
  text-align: right;
}

.home-description-retailer-container link:hover {
  border-bottom: 3px solid #385538;
}

.home-description-retailer-container h1, .home-description-retailer-container h2 {
  text-align: "left";
  font-size: 3rem;
  text-shadow: 2px 3px 5px #2e4a64;
  text-align: center;
  margin-bottom: 0px;
  padding: 0;
  font-family: Constantine;
}

.home-description-retailer-container h2 {
  font-size: 2rem;
  padding-top: 90px;
}

.book-description {
  font-family: Constantine;
  font-size: 2.2rem;
  text-align: center;
}

.book-description2 {
  font-family: Roboto;
  font-size: 1.3rem;
  text-align: center;
}

.book-learn-more {
  display: inline-block;
  text-decoration: underline;
  font-family: Roboto;
  padding-top: 5px;
  font-size: 1.1rem;
  width: 100px;
  padding-left: 9px;
}

.book-learn-more:hover {
  cursor: pointer;
}

.home-cover-preview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: moveInLeft 3s ease-out;
          animation: moveInLeft 3s ease-out;
}

.home-cover-preview-container img {
  margin-bottom: 10px;
  height: 400px;
  border-radius: 5px;
}

.home-retailer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-retailer-container p {
  font-size: 1.2rem;
}

.preview-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.preview-button-container button {
  font-family: 'Helvetica', Courier, sans-serif;
  outline: none;
  border: none;
  background-color: white;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  margin: 5px;
  border-radius: 5px;
}

.preview-button-container button:hover {
  cursor: pointer;
  background-color: #c1c1c1;
}

.dropdown-menu {
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
  color: black;
}

.dropdown-menu a {
  padding: 10px;
  font-family: 'Helvetica', Courier, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #6b8696;
  color: white;
  cursor: pointer;
}

.preview-dropdown-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 5;
  margin-top: 47px;
  margin-left: 8px;
  width: 244px;
}

.preview-dropdown-closed {
  display: none;
}

.retail-link {
  text-decoration: none;
  color: black;
  font-family: Helvetica, Courier, sans-serif;
  font-size: 1rem;
  background-color: white;
  height: 70px;
  margin: 10px;
  border-radius: 5px;
  width: 180px;
  border: none;
  text-align: center;
  padding-top: 25.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.retail-link:hover {
  cursor: pointer;
  background-color: #c1c1c1;
}

.retail-button {
  padding-top: 0px;
}

.retail-button:hover {
  cursor: pointer;
  background-color: #c1c1c1;
}

.retail-dropdown-container {
  position: relative;
}

.retail-dropdown-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: -10px;
  margin-left: 15px;
  width: 170px;
}

.retail-dropdown-closed {
  display: none;
}

@-webkit-keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  /* 80% {
     transform: translateX(10px);
  } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  /* 80% {
     transform: translateX(10px);
  } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  /* 80% {
    transform: translateX(-10px);
 } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  /* 80% {
    transform: translateX(-10px);
 } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@media (max-width: 1200px) {
  .home-container {
    background-position: 73%;
  }
  .home-container img {
    height: 320px;
  }
  .home-content-container {
    padding-left: 3%;
  }
  .home-description-retailer-container {
    padding-left: 20px;
    width: 600px;
  }
  .book-description {
    font-size: 2rem;
  }
  .book-description2 {
    font-size: 1.1rem;
  }
  .preview-dropdown-open {
    width: 190px;
  }
}

@media (max-width: 900px) and (min-height: 500px) {
  .home-container {
    background-position: 80%;
  }
  .home-container img {
    height: 300px;
  }
  .home-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-cover-preview-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 10px;
  }
  .preview-button-container {
    width: 160px;
  }
  .bookdescription2 {
    margin-right: 20px;
  }
}

@media (max-width: 630px) {
  .home-container {
    height: 120vh;
    background-image: url(../assets/images/cover-zoom-characters-mobile.png);
    background-position: 53%;
  }
  .home-container img {
    height: 230px;
    margin-top: 10px;
  }
  .home-container h2 {
    padding-top: 30px;
    font-size: 1.7rem;
  }
  .home-gradient {
    height: 120vh;
  }
  .home-description-retailer-container {
    padding-top: 10px;
    width: 100vw;
  }
  .home-description-retailer-container h1 {
    font-size: 2.1rem;
    padding-right: 0px;
  }
  .book-description {
    font-size: 1.5rem;
  }
  .book-description2 {
    font-size: 1.1rem;
  }
  .home-retailer-cotainer button {
    height: 50px;
  }
  .home-description-retailer-container {
    padding-top: 10px;
    padding-left: 0;
  }
  .preview-button-container {
    width: 140px;
  }
  .retail-link {
    padding: 8px;
    height: 50px;
    width: 130px;
  }
  .retail-button {
    padding-top: 0px;
  }
  .amazon {
    line-height: 35px;
  }
  .open-up {
    margin-top: -119px;
    margin-left: 8px;
  }
  .open-down {
    margin-top: 46px;
    margin-left: 8px;
  }
}

@media (max-height: 500px) {
  .home-container {
    background-position: 80%;
  }
  .home-container img {
    height: 230px;
    margin-top: 10px;
  }
  .home-content-container {
    padding: 70px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-cover-preview-container {
    padding-top: 10px;
    padding-left: 10px;
  }
  .preview-button-container {
    width: 160px;
  }
  .bookdescription2 {
    margin-right: 20px;
  }
  h2 {
    padding-top: 30px;
    font-size: 1.7rem;
  }
  .home-description-retailer-container {
    padding-top: 10px;
    width: 100vw;
  }
  .home-description-retailer-container h1 {
    font-size: 2.1rem;
    padding-right: 0px;
  }
  .home-description-retailer-container h2 {
    padding-top: 10px;
  }
  .book-description {
    font-size: 1.5rem;
  }
  .book-description2 {
    font-size: 1.1rem;
  }
  .home-retailer-cotainer button {
    height: 50px;
  }
  .home-description-retailer-container {
    padding-top: 10px;
    padding-left: 0;
  }
  .preview-button-container {
    width: 140px;
  }
  .retail-link {
    padding: 8px;
    height: 50px;
    width: 130px;
  }
  .retail-button {
    padding-top: 0px;
  }
  .amazon {
    line-height: 35px;
  }
  .open-up {
    margin-top: -119px;
    margin-left: 8px;
  }
  .open-down {
    margin-top: 46px;
    margin-left: 8px;
  }
}

.about-background-container {
  background-color: #f5e9d4;
  height: 85vh;
  padding-top: 50px;
  margin-top: -10vh;
  position: relative;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  position: relative;
}

.about-container p {
  padding-left: 50px;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

.about-container h1 {
  padding: 0px;
}

.about-container h2 {
  font-family: 'Roboto', sans-serif;
}

.about-container:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15vw;
  width: 47%;
  height: 90vh;
  background-color: #ff9100;
  -webkit-transform: skew(11deg);
          transform: skew(11deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.about-paragraph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.picture-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  width: 900px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media-about {
  width: 50px;
  padding: 10px;
  z-index: 3;
  border-radius: 20px;
}

.social-media-about:hover {
  cursor: pointer;
  -webkit-filter: hue-rotate(250);
          filter: hue-rotate(250);
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.jason {
  width: 300px;
  height: 300px;
  border: 30px solid #ff9100;
  border-radius: 50%;
}

@media (min-width: 1500px) {
  .picture-description-container {
    width: 1000px;
    min-width: 60vw;
    padding-left: 200px;
  }
}

@media (max-width: 1200px) {
  .jason {
    width: 200px;
    height: 200px;
    border-width: 20px;
  }
  .picture-description-container {
    width: 700px;
    max-width: 80vw;
    padding-left: 50px;
  }
  .about-container:before {
    left: -20vh;
    width: 50%;
  }
}

@media (max-width: 700px) {
  .picture-description-container {
    width: 100vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .jason {
    width: 150px;
    height: 150px;
    border: none;
  }
  .about-background-container {
    height: 85vh;
  }
  .about-container:before {
    height: 87vh;
    top: -5px;
  }
  .about-container p {
    padding-right: 20px;
    width: auto;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .about-background-container {
    min-height: 100vh;
    height: auto;
  }
  .about-container:before {
    top: -12px;
    width: -21vh;
    height: calc(100% + 12px);
  }
  .about-container p {
    font-size: 0.9rem;
  }
  .about-container h1 {
    font-size: 1.5rem;
  }
  .about-container h2 {
    font-size: 1.2rem;
  }
  .picture-description-container {
    padding-left: 0px;
  }
}

@media (max-height: 500px) {
  .about-background-container {
    height: 100vh;
    margin-top: -108px;
  }
  .about-container h1 {
    margin-bottom: 5px;
    font-size: 1.3rem;
  }
  .about-container h2 {
    font-size: 1.2rem;
    padding-bottom: 0;
  }
  .about-container p {
    font-size: 0.8rem;
    padding-left: 10px;
    margin: 3px 0;
  }
  .about-container::before {
    height: 110vh;
    width: 30%;
  }
  .picture-description-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 8px;
    max-width: 95vw;
  }
  .jason {
    border: 10px solid #ff9100;
  }
  .about-paragraph-container {
    font-size: 0.8rem;
  }
  .social-media-about {
    width: 30px;
  }
}

@font-face {
  font-family: Constantine;
  src: url("../Constantine.ttf");
}

.character-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 20px 20px 20px #1b1414;
          box-shadow: 20px 20px 20px #1b1414;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  margin: 100px 10px 0px 10px;
  width: 560px;
  padding: 25px 5px 5px 5px;
  min-height: 450px;
  max-height: 1000px;
  height: auto;
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0px;
}

.character-container h1 {
  padding: 5px;
  margin: 0px;
  color: white;
}

.inactive-style {
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.tio-card-background {
  background-image: radial-gradient(#008000c7, #075d0724);
}

.alim-card-background {
  background-image: radial-gradient(rgba(242, 247, 64, 0.27), #8c71256b);
}

.hali-card-background {
  background-color: rgba(88, 25, 88, 0.57);
}

.characters-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-transition: -webkit-backdrop-filter 2s;
  transition: -webkit-backdrop-filter 2s;
  transition: backdrop-filter 2s;
  transition: backdrop-filter 2s, -webkit-backdrop-filter 2s;
  display: flex;
  cursor: hand;
  width: 80vw;
  -webkit-box-shadow: inset 0px -2px 100px 100px black;
          box-shadow: inset 0px -2px 100px 100px black;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.characters-fade-container {
  width: 100vw;
  height: 105vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
  background-color: black;
  z-index: 3;
  position: relative;
  padding-bottom: 5vh;
}

.alim-background-color {
  background-color: #73730da1;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  backdrop-filter: hue-rotate(305deg) contrast(2);
  -webkit-backdrop-filter: hue-rotate(260deg) contrast(2);
}

.tio-background-color {
  -webkit-backdrop-filter: hue-rotate(80deg) contrast(2);
  backdrop-filter: hue-rotate(80deg) contrast(2);
  background-color: rgba(0, 128, 0, 0.329412);
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

.hali-background-color {
  background-color: #710080a6;
  -webkit-backdrop-filter: hue-rotate(210deg) contrast(2);
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  -webkit-backdrop-filter: hue-rotate(195deg) contrast(2);
          backdrop-filter: hue-rotate(195deg) contrast(2);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  text-align: right;
  border-radius: 3px 0 0 3px;
}

.arrow-name {
  font-family: Constantine;
  font-size: 1.2rem;
}

.character-description {
  padding: 10px;
  margin: 0px 10px 10px 10px;
  border-width: 10px;
  border-style: solid;
  height: auto;
  overflow: hidden;
  -webkit-transition: height 2s;
  transition: height 2s;
  color: white;
  font-size: 1.1rem;
  -o-border-image: url(../assets/images/borderhali2.png) 70 repeat;
     border-image: url(../assets/images/borderhali2.png) 70 repeat;
}

.quotation-marks {
  font-size: 3rem;
  line-height: 1rem;
  position: relative;
  top: 10px;
}

.characters-main-container {
  background-image: url(../assets/images/background-shadow-left3.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 80vw;
  margin-top: -10px;
  margin-left: 10vw;
}

.character-img {
  width: 300px;
  width: 318px;
}

.character-quote {
  font-style: italic;
  font-family: Constantine;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  display: block;
}

.character-description-alim {
  background-color: #c3a921ad;
}

.character-description-tio {
  background-color: rgba(46, 82, 46, 0.6);
}

.character-description-hali {
  background-color: #7d5c7d94;
}

@media (max-width: 1200px) {
  .characters-container {
    width: 90vw;
  }
  .characters-main-container {
    height: 90vh;
    width: 90vw;
    margin-left: 5vw;
  }
}

@media (max-width: 900px) {
  .characters-main-container {
    background-position: 25%;
    width: 98vw;
    margin-left: 1vw;
  }
  .characters-container {
    width: 98vw;
    -webkit-box-shadow: inset 0px -2px 50px 50px black;
            box-shadow: inset 0px -2px 50px 50px black;
  }
  .character-container {
    width: 80vw;
  }
}

@media (max-width: 700px) {
  .character-img {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    margin-top: 0px;
  }
  .characters-container {
    width: 100vw;
    height: 95vh;
    -webkit-box-shadow: inset 0px -2px 40px 30px black;
            box-shadow: inset 0px -2px 40px 30px black;
  }
  .characters-main-container {
    width: 100vw;
    height: 95vh;
  }
  .character-description {
    padding: 15px;
    margin: 10px;
    border-width: 8px;
    font-size: 1rem;
  }
  .character-quote {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .quotation-marks {
    font-size: 2rem;
  }
  .characters-fade-container {
    height: 95vh;
  }
}

@media (max-width: 500px) {
  .character-container {
    width: 80vw;
    margin-top: 50px;
  }
  .character-container h1 {
    font-size: 1.8rem;
  }
  .prev p, .next p {
    font-size: 1.1rem;
  }
  .character-quote {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  .quotation-marks {
    line-height: 0.1;
  }
  .character-description {
    font-size: 0.95rem;
  }
  .characters-fade-container {
    height: 102vh;
  }
}

@media (max-height: 500px) {
  .character-img-description-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .characters-fade-container {
    height: 120vh;
  }
  .characters-main-container {
    height: 120vh;
  }
  .characters-container {
    height: 120vh;
  }
  .character-container {
    width: 90vw;
    margin-top: 40px;
    height: 120vh;
  }
  .image-name-container {
    margin-left: 25px;
  }
  .character-img {
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .character-description {
    font-size: 0.8rem;
    margin-right: 65px;
    margin-left: 0px;
  }
  .character-quote {
    font-size: 1rem;
    line-height: 1rem;
  }
}

.footer {
  text-align: center;
  font-size: 10px;
  width: 100%;
  color: white;
  height: 50px;
  position: relative;
  /*fixed= stays at bottom but scrolls up? relative= stays away from bottom*/
  bottom: 0%;
  overflow: hidden;
  margin: auto;
  background-color: #243749;
}

.transition-main-container {
  height: 20vh;
  background-color: black;
  -webkit-box-shadow: inset 5px 3px 10px 3px black;
          box-shadow: inset 5px 3px 10px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
  padding-top: 100px;
}

.transition-main-container h1 {
  color: white;
  padding: 0;
  margin: 0;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 60px;
  top: 0;
  z-index: 10;
}

.navbar-container ul {
  list-style-type: none;
  position: relative;
  top: 0%;
  margin: 0;
  padding: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: #2e4a64;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navbar-container li {
  float: left;
  padding: 0px 10px 0px 10px;
}

.navbar-container li a {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 4px solid transparent;
  padding: 0px 2px 0px 2px;
  font-size: 18px;
  display: block;
  border-bottom: 0;
  -webkit-transition: border-color 1s;
  transition: border-color 1s;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: hand;
}

.navbar-container li a:hover {
  border-bottom: 4px solid white;
  color: #6490a0;
  cursor: pointer;
}

.header-title {
  padding: 0px;
  margin: 0px;
  font-family: 'Constantine';
  font-size: 20px;
}

.header-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-title-container img {
  width: 200px;
  height: 28px;
}

.social {
  width: 20px;
  height: 20px;
  cursor: hand;
}

.social img {
  width: 100%;
}

.mobile-menu-container {
  display: none;
}

@media (max-width: 900px) {
  .navbar-container li {
    padding: 0px 4px;
  }
  .navbar-container li a {
    padding: 7px 8px;
  }
  .instagram {
    padding-top: 7px;
  }
}

@media (max-width: 750px) {
  .navbar-container {
    display: none;
  }
  .mobile-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    color: white;
    width: 100vw;
    height: 60px;
    top: 0;
    z-index: 10;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    overflow: hidden;
    background-color: #2e4a64;
  }
  .mobile-menu-container li {
    list-style: none;
  }
  .mobile-menu-navigation {
    background-color: #2e4a64;
    color: white;
    font-size: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60vw;
    height: 100vh;
  }
  .mobile-menu-navigation li {
    list-style: none;
    margin-top: 10vh;
    border-bottom: 4px solid transparent;
  }
  .mobile-menu-navigation li:hover {
    border-bottom: 4px solid white;
    color: #6490a0;
    cursor: pointer;
  }
}

.world-main-container {
  height: 110vh;
  position: relative;
  background-image: url(../assets/images/background-painting3.jpg);
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
  -webkit-box-shadow: inset 5px 30px 50px 24px black;
          box-shadow: inset 5px 30px 50px 24px black;
  margin-top: -100px;
  padding-top: 100px;
}

.world-main-container-gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 110vh;
  margin-top: -100px;
  padding-top: 100px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.75), #652500);
}

.world-main-container-gradient h1 {
  color: white;
  padding: 50px 0 0 0;
}

.world-map-container {
  height: 80vh;
  position: relative;
}

.world-map {
  height: 100%;
  -webkit-box-shadow: 5px 5px 10px 4px black;
          box-shadow: 5px 5px 10px 4px black;
}

.map-locations {
  background-size: cover;
  width: 39px;
  height: 50px;
  position: absolute;
  background-image: radial-gradient(#123110, #0a801f0f, transparent);
}

.map-locations:hover {
  cursor: pointer;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  background-image: none;
  -webkit-filter: hue-rotate(300deg) brightness(1.7);
          filter: hue-rotate(300deg) brightness(1.7);
}

.map-locations img {
  width: 38px;
  height: 30px;
}

.description {
  background-color: #652500e3;
  padding: 20px;
  width: 450px;
  border: 4px solid black;
  color: white;
  opacity: 0.9;
  z-index: 3;
}

.description h2 {
  font-family: Constantine;
}

.map-icon {
  width: 20px;
  height: 20px;
}

.active-map-element {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  background-image: none;
  -webkit-filter: hue-rotate(300deg) brightness(1.7);
          filter: hue-rotate(300deg) brightness(1.7);
}

@media (max-width: 1000px) {
  .world-map-container {
    height: 60vh;
  }
}

@media (max-width: 800px) {
  .world-map-container {
    height: 50vh;
  }
  .world-main-container {
    height: 80vh;
  }
  .world-main-container-gradient {
    height: 80vh;
  }
  .map-locations {
    width: 33px;
    height: 30px;
  }
  .map-locations img {
    width: 28px;
    height: 25px;
  }
}

@media (max-width: 650px) {
  .world-map-container {
    height: 35vh;
  }
  .world-main-container {
    height: 80vh;
  }
  .world-main-container-gradient {
    height: 80vh;
  }
  .map-locations {
    width: 28px;
    height: 26px;
  }
  .map-locations img {
    width: 24px;
    height: 20px;
  }
  .description {
    font-size: 0.8rem;
    width: 250px;
  }
  .description h2 {
    font-size: 1.2rem;
  }
}

@media (max-height: 500px) {
  .world-main-container, .world-main-container-gradient {
    height: 120vh;
  }
  .world-main-container h1, .world-main-container-gradient h1 {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .world-map-container {
    height: 70vh;
  }
}

/* @import url('/assets/fonts/Constantine.tff'); */
@font-face {
  font-family: Constantine;
  src: url("../Constantine.ttf");
}

.App {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.img-header {
  position: relative;
  width: 100%;
  height: 300px;
  top: 0px;
  left: 0px;
}

.App-link {
  color: #61dafb;
}

.ap-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: hand;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-div {
  height: 100vh;
}

a {
  cursor: hand;
}

.arcane-moose {
  width: 100px;
  height: 100px;
}

.flex-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 60px;
}

.auther-pic {
  padding: 0px 20% 20px 20%;
  width: 300px;
}

h1 {
  padding: 10px 20% 0px 20px;
  text-align: center;
  font-family: Constantine;
}

h2 {
  text-align: center;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
}

.header-title-container:hover {
  cursor: pointer;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-Gren-City {
  top: 11%;
  left: 26%;
}

.map-Hillfarm {
  top: 20.5%;
  left: 19%;
}

.map-Pasture-Downs {
  top: 24.5%;
  left: 11.5%;
}

.map-Mudplains {
  top: 30%;
  left: 12.5%;
}

.map-Meisha {
  top: 35%;
  left: 14.8%;
}

.map-Belsa {
  top: 29.5%;
  left: 35%;
}

.map-Spirit-Arboretum {
  top: 26.8%;
  left: 25.8%;
}

.map-Last-Stand {
  top: 23%;
  left: 27%;
}

.map-Tovaloreande-Sanctuary {
  top: 18%;
  left: 33%;
}

.map-Wilton {
  top: 24.5%;
  left: 36%;
}

.map-Trade-Plains {
  top: 26.5%;
  left: 58.5%;
}

.map-Oressa {
  top: 24.5%;
  left: 68.8%;
}

.map-East-Peaks {
  top: 15%;
  left: 72.2%;
}

.map-Sky-Tower {
  top: 22.5%;
  left: 77.5%;
}

.map-Hearth {
  top: 30.8%;
  left: 71%;
}

.map-Und-dal {
  top: 33.8%;
  left: 69.3%;
}

.map-Stoneport {
  top: 34.3%;
  left: 77.3%;
}

.map-Strago {
  top: 40.7%;
  left: 70.4%;
}

.map-The-Lungs {
  top: 31%;
  left: 64%;
}

.map-Ahsiem {
  top: 45.3%;
  left: 16.7%;
}

.map-Iron-Swamp {
  top: 38.3%;
  left: 32.6%;
}

.map-Weeping-Pass {
  top: 43.5%;
  left: 66.2%;
}

.map-Mizmiz {
  top: 65%;
  left: 22.4%;
}

.map-Pinpin {
  top: 74%;
  left: 16.7%;
}

.map-Clickclick-Dunes {
  top: 72.5%;
  left: 24.8%;
}

.map-Thunder-Trail {
  top: 53.8%;
  left: 78.5%;
}

.map-Rovilia {
  top: 42.5%;
  left: 85%;
}

.map-Skull-Landing {
  top: 56%;
  left: 83%;
}

.map-Phantasmal-Reef {
  top: 88%;
  left: 21%;
}

.map-Coveted-South {
  top: 90%;
  left: 60%;
}

.presskit-main-container {
  padding-top: 80px;
}

.presskit-main-container h1 {
  font-weight: normal;
}

.presskit-about-background-container {
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 100%, 0 95%);
  z-index: 5;
}

.presskit-about-container:before {
  height: 110vh;
  position: absolute;
  z-index: 0;
}

.presskit-picture-description-container {
  width: 70vw;
}

.author-content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
}

.author-content-section p {
  padding: 0px;
  margin: 0px;
}

.author-content-section h3 {
  font-family: Constantine;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.author-photo-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presskit-arborealpath-container {
  background-color: #2e4a64;
  color: white;
  font-family: Constantine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: relative;
  padding: 0px 50px;
  margin-top: -50px;
  z-index: 1;
  position: relative;
}

.bookcover-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bookcover-links-container img {
  width: 300px;
}

.arborealpath-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px;
}

.arborealpath-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arborealpath-links-section {
  padding-left: 30px;
}
/*# sourceMappingURL=main.css.map */